<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tzq.assetadminapp">

    <uses-permission android:name="android.permission.INTERNET" />
    // 管理蓝牙设备的权限
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    // 使用蓝牙设备的权限
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize">
            <!--以上代码解决activity 旋转时 Fragment 重叠问题-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddAssetActivity"
            android:label="@string/title_activity_add_asset"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ReportActivity"
            android:label="@string/title_activity_report"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
